/* Todos los estilos aplicados estan en orden alfabetico para un mejor entendimiento y orden*/
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0px;
}

.contenedor {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.formulario {
	background: #ffffffdd;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border: 1px solid #5962e6;
	min-width: 50vw;
	padding: 20px;
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	color: #1f1f1f;
	display: block;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 5px;
}

.formulario input,
.formulario textarea {
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	color: #1f1f1f;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	width: 100%;
}

.formulario input:focus {
	border: 2px solid #F5DF4D;
	outline: none;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 700;
	font-size: 15px;
}

.formulario button[type="submit"] {
	background: #5962e6;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	transition: .3s ease all;
	width: 100%;
}

.formulario button[type="submit"]:hover {
	background: rgba(13, 10, 10, 0.6);
}

.formulario .exito {
	color: #02a802;
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
	text-align: center;
}

.formulario input[type="radio"] {
	width: auto;
}

.redes1, .redes2{
	display: flex;
	justify-content: space-between;
}

label > option{
	border: 1px solid red;
	border-radius: 100px;
}

/* responsive */

	@media(max-width:500px){
		.contenedor {
			display: flex;
			justify-content: center;
			min-height: 100vh;
		}
		
		.formulario {
			background: #ffffffdd;
			border-radius: 5px;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
			padding: 20px;
			margin-top: 50px;
			min-width: 60px;
		}
	}

